@model IEnumerable<Moovies.Data.LeaderboardRecord>
@{
    ViewBag.Title = "Moovies Board";
}

<div class="message-header" ng-controller="HomeIndexController">
    <h1>Moovies Board</h1>
    <div ng-view></div>
</div>

@section Scripts{
    <script src="~/js/home-index-controller.js"></script>
    <script src="~/js/home-result-controller.js"></script>
    <script src="~/js/mooviesboard-api.js"></script>
}