@{
    ViewBag.Title = "Moovies Board";
}

<div class="message-header">
    <h1>Moovies Board</h1>
    <div class="text-center">        
        <img src="~/Content/Images/rsz_1rsz_1cow.png" />
        <h2>Moo Me!</h2>
    </div>
    <p class="lead"> Latests Scores...</p>
</div>

@* .scores>(.score.row>(.name.col-md-10>lorem5)+(.date.col-md-2>{Feb 12, 2017})+(.totalTime.col-md-12{3 days 5 hours}))*3 *@
<div class="scores">
    <div class="score row">
        <div class="name col-md-10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date col-md-2">Feb 12, 2017</div>
        <div class="totalTime col-md-12">3 days 5 hours</div>
    </div>
    <div class="score row">
        <div class="name col-md-10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date col-md-2">Feb 12, 2017</div>
        <div class="totalTime col-md-12">3 days 5 hours</div>
    </div>
    <div class="score row">
        <div class="name col-md-10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date col-md-2">Feb 12, 2017</div>
        <div class="totalTime col-md-12">3 days 5 hours</div>
    </div>
</div>