@model IEnumerable<Moovies.Data.LeaderboardRecord>
@{
    ViewBag.Title = "Moovies Board";
}

<div class="message-header" ng-controller="HomeIndexController">
    <br />
    <br />
    <div ng-view></div>
</div>

@section Scripts{

}