.score {
  border: solid 1px #a6a6a6;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #666;
  margin-left: 0px;
  margin-right: 0px;
}
.score .name {
  font-size: 20px;
  text-shadow: 1px 1px 2px #808080 e;
  color: #bbb;
}
.score .date {
  text-align: right;
  font-size: 13px;
}
.drop-box {
  background: #666;
  margin: 0 auto;
  padding: 0 auto;
  border: 5px dashed #DDD;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25px;
  color: #bbb;
}
.button {
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 70px;
}
.dragover {
  border: 5px dashed blue;
}