@baseScoreColor: #666;
@fontColor: #bbb;

.score {
    border: solid 1px lighten(@baseScoreColor, 25%);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background: @baseScoreColor;
    margin-left: 0px;
    margin-right: 0px;

    .name {
    font-size:20px;
    text-shadow:1px 1px 2px lighten(@baseScoreColor, 10%)e;
    color: #bbb;
    }

    .date {
        text-align:right;
        font-size:13px;
    }
}

.drop-box {
    background: @baseScoreColor;
    margin: 0 auto;
    padding: 0 auto;
    border: 5px dashed #DDD;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    color: @fontColor;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.dragover {
    border: 5px dashed blue;
}

