<!DOCTYPE html>
<html lang="en" ng-app="mooviesBoardApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Moovies Board</title>


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Template/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Paper -->
    <link href="~/Content/Paper-Assets/css/paper-dashboard.css" rel="stylesheet" />
    <link href="~/Content/Paper-Assets/css/themify-icons.css" rel="stylesheet" />
    <!-- Fonts -->
    <link href="~/Content/Template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom Theme CSS -->
    <link href="~/Content/Template/css/style.css" rel="stylesheet">

    <!-- My custom css-->
    <link href="~/Content/Site.css" rel="stylesheet" />
        
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'956de207-c982-4d38-b008-b23df8a3e95d'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/#">
                    <i class="fa fa-video-camera"></i> Moovies <span class="font-light"> Board</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/Home/How">How</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/Home/About">About</a>
                    </li>
                    @*<li class="page-scroll">
                        <a href="Home/Contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="blog.html">Blog</a>
                    </li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Main Section -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section><!-- /#main -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="overlay"></div>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">

                    <ul class="social-buttons">
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter fa-fw"></i> <span>Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw"></i> <span>Facebook</span></a></li>
                        <li><a href="https://plus.google.com/"><i class="fa fa-google-plus fa-fw"></i> <span>Google+</span></a></li>
                        <li><a href="https://www.flickr.com/"><i class="fa fa-flickr fa-fw"></i> <span>Flickr</span></a></li>
                        <li><a href="https://youtube.com/"><i class="fa fa-youtube fa-fw"></i> <span>You Tube</span></a></li>
                    </ul>

                </div><!-- /.col-lg-12 -->

            </div><!-- /.row -->
            <div class="row">

                <div class="copyright">
                    2017
                </div>
                <div class="footer-line"></div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /#contact -->
    <!-- Core JavaScript Files -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.easing.min.js"></script>

    <script src="~/Scripts/humanize.min.js"></script>

    <!-- Angular -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    
    <!-- JavaScript -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/angular-moment.min.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
